@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    height: 110px;
    background-color: none;
}

.main-title {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    cursor: default;
    color: #57422a;
    font-family: 'omyu_pretty';
}

.sub-title {
    font-size: 18px;
    font-weight: 300;
    cursor: default;
    padding: 3px 0px;
    border-bottom: 1px solid #beacac;
    color: #57422a;
    font-family: 'omyu_pretty';
}