
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
}

.main-header-box{
    width: 100%;
    /* height: 70px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.input-content {
    text-align: center;
    outline: none;
    border: 1px solid #dbdbdb;
    /* background: transparent; */
    background-color: #fff2ee;
    padding: 10px;
    width: 80%;
    height: 100%;
    resize: none;
    &:focus {
        background-color: #f1f1f1;
    }
}


.input-button {
    border: none;
    border-radius: 0px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
}

.todo-content-layout {
    margin-top: 20px;
    overflow-y: auto;
    height: 100%;

} 