
main {
    display: flex;
    width: 100%;
    height: 100px;
}


.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100px;
    width: 100%;
    outline: none;
    font-size: 15px;
    color: #494949;
}

.input-content {
    text-align: center;
    outline: none;
    border: 1px solid #dbdbdb;
    /* background: transparent; */
    background-color: #fff2ee;
    padding: 10px;
    width: 100%;
    height: 50px;
    resize: none;
    &:focus {
        background-color: #f1f1f1;
    }
}

.input-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-button {
    border: none;
    border-radius: 0px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}